//deals
.deals_container {
  position: absolute;
  top: 40%;
  left: 10vw;
  width: 70vw;
  height: auto;
  background-color: rgba(255, 0, 0, 0.566);
  border-radius: 10px;
  font-family: "Kalam", cursive;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .card_h1 {
    font-size: 6rem;
    text-shadow: 2px 2px 2px rgb(238, 255, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .deals {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
