.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 10rem;
  height: 100vh;
  background-color: black;
  color: white;
  padding-top: 10rem;
  z-index: 10;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    li {
      a {
        color: inherit;
        text-decoration: inherit;
      }
      padding-bottom: 3rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
