//global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 10rem;
  height: 100vh;
  background-color: black;
  color: white;
  padding-top: 10rem;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    li {
      padding-bottom: 3rem;
      font-size: 1.5rem;
    }
  }
}
