//global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Rubik Moonrocks", cursive;
}
li {
  list-style: none;
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 10rem;
  height: 100vh;
  background-color: black;
  color: white;
  padding-top: 10rem;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    li {
      padding-bottom: 3rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
#home {
  width: 100vw;
  height: 100vh;
  background-image: url(../public/img/pexels-ethan-brooke-12641743.jpg);
  background-position: 50% 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 40%;
  justify-content: flex-start;
  padding-top: 4%;
  letter-spacing: 20px;
  overflow: hidden;
  h1 {
    font-size: 10rem;
    text-shadow: 2px 2px 4px black;
    font-family: "Courgette", cursive;
  }
  span {
    font-size: 10rem;
    text-shadow: 2px 2px 4px black;

    color: rgb(234, 255, 0);
    font-family: "Rubik Moonrocks", cursive;
  }
}
#homeCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 15%;
  pointer-events: none;
}
